# 8章 Pandasの基礎

## 8.1 Pandaとは

#### 8.1.2 Series と DataFrame のデータの確認

In [1]:
import pandas as pd

fruits = {
    "orange" : 2, 
    "banana" : 3,
}

print( pd.Series(fruits) )

orange    2
banana    3
dtype: int64

In [2]:
import pandas as pd

data = {
    "fruits" : ["apple", "orange", "banana", "strawberry", "kiwifruit"],
    "year" : [2001, 2002, 2001, 2008, 2006],
    "time" : [1, 4, 5, 6, 3],
}

df = pd.DataFrame(data)

print( df )

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

In [3]:
import pandas as pd

index  = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

data = [10, 5, 8, 12, 3]

#
# Pandas.Series
#
series = pd.Series(data, index=index)

print( series )


#
# Pandas.DataFrame
#
data = {
    "fruits" : ["apple", "orange", "banana", "strawberry", "kiwifruit"],
    "year" : [2001, 2002, 2001, 2008, 2006],
    "time" : [1, 4, 5, 6, 3]
}

df = pd.DataFrame(data)

print( df )

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64
       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

## 8.2 Series

### 8.2.1 Series を生成する

In [4]:
import pandas as pd

fruits = {
    "banana" : 3,
    "orange" : 2,
}

print( pd.Series(fruits) )

banana    3
orange    2
dtype: int64

In [5]:
import pandas as pd

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data = [10, 5, 8, 12, 3]

series = pd.Series(data, index=index)

print( series )

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64

### 8.2.2 参照

In [6]:
import pandas as pd

fruits = {
    "banana" : 3,
    "orange" : 4,
    "grape" : 1,
    "peach" : 5,
}

series = pd.Series(fruits)

print( series[:2] )

banana    3
orange    4
dtype: int64

In [7]:
print( series[["orange", "peach"]] )

orange    4
peach     5
dtype: int64

In [11]:
import pandas as pd

index = ['apple', 'orange', 'banana', 'strawberry', 'kiwifruit']
data = [10, 5, 8, 12, 3]

series = pd.Series(data, index=index)

print( series[1:4] )

print( series[ ['apple', 'banana', 'kiwifruit'] ] )

orange         5
banana         8
strawberry    12
dtype: int64
apple        10
banana        8
kiwifruit     3
dtype: int64

### 8.2.3 データ、インデックスを取り出す

In [15]:
import pandas as pd

index = ['apple', 'orange', 'banana', 'strawberry', 'kiwifruit']
data = [10, 5, 8, 12, 3]

series = pd.Series(data, index=index)

series_values = series.values
series_index = series.index

print( series_values )
print( series_index )

[10  5  8 12  3]
Index(['apple', 'orange', 'banana', 'strawberry', 'kiwifruit'], dtype='object')

### 8.2.4 要素を追加する

In [19]:
import pandas as pd

fruits = {
    'banana' : 3, 
    'orange' : 2,
}

series = pd.Series(fruits)

print( series )

series = pd.concat([series, pd.Series([3], index=['grape'])])

print( series )

banana    3
orange    2
dtype: int64
banana    3
orange    2
grape     3
dtype: int64

In [21]:
import pandas as pd

index = ['apple', 'orange', 'banana', 'strawberry', 'kiwifruit']
data = [10, 5, 8, 12, 3]

series = pd.Series(data, index=index)

print( series )

series = pd.concat([series, pd.Series([12], index=['pineapple'])])

print( series )

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64
apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
pineapple     12
dtype: int64

### 8.2.5 要素を削除する

In [1]:
import pandas as pd

index = ['apple', 'orange', 'banana', 'strawberry', 'kiwifruit']
data = [10, 5, 8,12, 3]

series = pd.Series(data, index=index)

series = series.drop('strawberry')

print( series )

apple        10
orange        5
banana        8
kiwifruit     3
dtype: int64

### 8.2.6 フィルタリング

In [2]:
import pandas as pd

index = ['apple', 'orange', 'banana', 'strawberry', 'kiwifruit']
data = [10, 5, 8,12, 3]

series = pd.Series(data, index=index)

conditions = [True, True, False, False, False]

print( series[conditions] )

apple     10
orange     5
dtype: int64

In [3]:
print( series[series >= 5] )

apple         10
orange         5
banana         8
strawberry    12
dtype: int64

In [5]:
import pandas as pd

index = ['apple', 'orange', 'banana', 'strawberry', 'kiwifruit']
data = [10, 5, 8,12, 3]

series = pd.Series(data, index=index)

print( series[5 <= series][series < 10] )

orange    5
banana    8
dtype: int64

### 8.2.7 ソート

In [8]:
import pandas as pd

index = ['apple', 'orange', 'banana', 'strawberry', 'kiwifruit']
data = [10, 5, 8,12, 3]

series = pd.Series(data, index=index)

item1 = series.sort_index()
item2 = series.sort_values()

print( item1 )
print( item2 )

apple         10
banana         8
kiwifruit      3
orange         5
strawberry    12
dtype: int64
kiwifruit      3
orange         5
banana         8
apple         10
strawberry    12
dtype: int64

## 8.3 DataFrame

### 8.3.1 DataFrame の生成

In [9]:
data = {
    'fruits' :  ['apple', 'orange', 'banana', 'strawberry', 'kiwifruit'],
    'year' : [2001, 2002, 2001, 2008, 2006],
    'time' : [1, 4, 5, 6, 3],
}

df = pd.DataFrame(data)

print( df )

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3