# 第9章 Pandasの応用

## 9.1 DataFrameの連結・結合の概観

### 9.1.1 連結・結合について

## 9.2 DataFrameの連結

### 9.2.1 インデックス、カラムが一致しているDataFrame同士の連結

In [74]:
import numpy as np
import pandas as pd


# 指定のインデックスとカラムを持つ DataFrame を乱数によって作成する関数
def make_random_df(index, columns, seed):
    np.random.seed(seed)
    df = pd.DataFrame()
    
    for column in columns:
        df[column] = np.random.choice(range(1, 101), len(index))

    df.index = index
    
    return df

# インデックス、カラムが一致している DataFrame を作成する
columns = ['apple', 'orange', 'banana']

df_data1 = make_random_df(range(1, 5), columns, 0)
df_data2 = make_random_df(range(1, 5), columns, 1)

print(df_data1)
print()
print(df_data2)
print()

df1 = pd.concat([df_data1, df_data2], axis=0)

print(df1)
print()

df2 = pd.concat([df_data1, df_data2], axis=1)

print(df2)

   apple  orange  banana
1     45      68      37
2     48      10      88
3     65      84      71
4     68      22      89

   apple  orange  banana
1     38      76      17
2     13       6       2
3     73      80      77
4     10      65      72

   apple  orange  banana
1     45      68      37
2     48      10      88
3     65      84      71
4     68      22      89
1     38      76      17
2     13       6       2
3     73      80      77
4     10      65      72

   apple  orange  banana  apple  orange  banana
1     45      68      37     38      76      17
2     48      10      88     13       6       2
3     65      84      71     73      80      77
4     68      22      89     10      65      72

### 9.2.2 インデックス、カラムが一致していないDataFrame同士の連結

In [75]:
import numpy as np
import pandas as pd


# 指定のインデックスとカラムを持つ DataFrame を乱数によって作成する関数
def make_random_df(index, columns, seed):
    np.random.seed(seed)
    df = pd.DataFrame()
    
    for column in columns:
        df[column] = np.random.choice(range(1, 101), len(index))

    df.index = index
    
    return df

# インデックス、カラムが一致している DataFrame を作成する
columns1 = ['apple', 'orange', 'banana']
columns2 = ['orange', 'kiwifruit', 'banana']

df_data1 = make_random_df(range(1, 5), columns1, 0)
df_data2 = make_random_df(range(1, 8, 2), columns2, 1)

print(df_data1)
print()
print(df_data2)
print()

df1 = pd.concat([df_data1, df_data2], axis=0)

print(df1)
print()

df2 = pd.concat([df_data1, df_data2], axis=1)

print(df2)

   apple  orange  banana
1     45      68      37
2     48      10      88
3     65      84      71
4     68      22      89

   orange  kiwifruit  banana
1      38         76      17
3      13          6       2
5      73         80      77
7      10         65      72

   apple  orange  banana  kiwifruit
1   45.0      68      37        NaN
2   48.0      10      88        NaN
3   65.0      84      71        NaN
4   68.0      22      89        NaN
1    NaN      38      17       76.0
3    NaN      13       2        6.0
5    NaN      73      77       80.0
7    NaN      10      72       65.0

   apple  orange  banana  orange  kiwifruit  banana
1   45.0    68.0    37.0    38.0       76.0    17.0
2   48.0    10.0    88.0     NaN        NaN     NaN
3   65.0    84.0    71.0    13.0        6.0     2.0
4   68.0    22.0    89.0     NaN        NaN     NaN
5    NaN     NaN     NaN    73.0       80.0    77.0
7    NaN     NaN     NaN    10.0       65.0    72.0

### 9.2.3 連結する際のラベルの指定

In [76]:
import numpy as np
import pandas as pd


# 指定のインデックスとカラムを持つ DataFrame を乱数によって作成する関数
def make_random_df(index, columns, seed):
    np.random.seed(seed)
    df = pd.DataFrame()
    
    for column in columns:
        df[column] = np.random.choice(range(1, 101), len(index))

    df.index = index
    
    return df

# インデックス、カラムが一致している DataFrame を作成する
columns = ['apple', 'orange', 'banana']

df_data1 = make_random_df(range(1, 5), columns, 0)
df_data2 = make_random_df(range(1, 5), columns, 1)

df = pd.concat([df_data1, df_data2], axis=1, keys=['X', 'Y'])

print(df)
print()

Y_banana = df['Y', 'banana']

print(Y_banana)

      X                   Y
  apple orange banana apple orange banana
1    45     68     37    38     76     17
2    48     10     88    13      6      2
3    65     84     71    73     80     77
4    68     22     89    10     65     72

1    17
2     2
3    77
4    72
Name: (Y, banana), dtype: int64

### 9.3.2 内部連結の基本

In [77]:
import numpy as np
import pandas as pd

data1 = {
    'fruits': ['apple', 'orange', 'banana', 'strawberry', 'kiwifruit'],
    'year': [2001, 2002, 2001, 2008, 2006],
    'amount': [1, 4, 5, 6, 3],
}

df1 = pd.DataFrame(data1)

data2 = {
    'fruits': ['apple', 'orange', 'banana', 'strawberry', 'mango'],
    'year': [2001, 2002, 2001, 2008, 2007],
    'price': [150, 120, 100, 250, 3000],
}

df2 = pd.DataFrame(data2)

print(df1)
print()

print(df2)
print()

df3 = pd.merge(df1, df2, on='fruits', how='inner')

print(df3)

       fruits  year  amount
0       apple  2001       1
1      orange  2002       4
2      banana  2001       5
3  strawberry  2008       6
4   kiwifruit  2006       3

       fruits  year  price
0       apple  2001    150
1      orange  2002    120
2      banana  2001    100
3  strawberry  2008    250
4       mango  2007   3000

       fruits  year_x  amount  year_y  price
0       apple    2001       1    2001    150
1      orange    2002       4    2002    120
2      banana    2001       5    2001    100
3  strawberry    2008       6    2008    250

### 9.3.3 外部結合の基本

In [78]:
import numpy as np
import pandas as pd

data1 = {
    'fruits': ['apple', 'orange', 'banana', 'strawberry', 'kiwifruit'],
    'year': [2001, 2002, 2001, 2008, 2006],
    'amount': [1, 4, 5, 6, 3],
}

df1 = pd.DataFrame(data1)

data2 = {
    'fruits': ['apple', 'orange', 'banana', 'strawberry', 'mango'],
    'year': [2001, 2002, 2001, 2008, 2007],
    'price': [150, 120, 100, 250, 3000],
}

df2 = pd.DataFrame(data2)

print(df1)
print()

print(df2)
print()

df3 = pd.merge(df1, df2, on='fruits', how='outer')

print(df3)

       fruits  year  amount
0       apple  2001       1
1      orange  2002       4
2      banana  2001       5
3  strawberry  2008       6
4   kiwifruit  2006       3

       fruits  year  price
0       apple  2001    150
1      orange  2002    120
2      banana  2001    100
3  strawberry  2008    250
4       mango  2007   3000

       fruits  year_x  amount  year_y   price
0       apple  2001.0     1.0  2001.0   150.0
1      orange  2002.0     4.0  2002.0   120.0
2      banana  2001.0     5.0  2001.0   100.0
3  strawberry  2008.0     6.0  2008.0   250.0
4   kiwifruit  2006.0     3.0     NaN     NaN
5       mango     NaN     NaN  2007.0  3000.0

### 9.3.4 同名でない列をKeyにして結合する

In [79]:
import pandas as pd

order_df = pd.DataFrame(
    [
        [1000, 2456, 103],
        [1001, 4352, 101],
        [1002, 342, 101]
    ],
    columns=['id', 'item_id', 'customer_id']
)

customer_df = pd.DataFrame(
    [
        [101, 'Tanaka'],
        [102, 'Suzuki'],
        [103, 'Kato']
    ],
    columns=['id', 'name']
)

order_df = pd.merge(order_df, customer_df ,left_on='customer_id', right_on='id', how='inner')

print(order_df)

   id_x  item_id  customer_id  id_y    name
0  1000     2456          103   103    Kato
1  1001     4352          101   101  Tanaka
2  1002      342          101   101  Tanaka

### 9.3.5 インデックスをKeyにして結合する

In [80]:
import pandas as pd

order_df = pd.DataFrame(
    [
        [1000, 2456, 103],
        [1001, 4352, 101],
        [1002, 342, 101]
    ],
    columns=['id', 'item_id', 'customer_id']
)

customer_df = pd.DataFrame(
    [
        ['Tanaka'],
        ['Suzuki'],
        ['Kato'],
    ],
    columns=['name']
)

customer_df.index = [101, 102, 103]

order_df = pd.merge(order_df, customer_df ,left_on='customer_id', right_index=True, how='inner')

print(order_df)

     id  item_id  customer_id    name
0  1000     2456          103    Kato
1  1001     4352          101  Tanaka
2  1002      342          101  Tanaka

## 9.4 DataFrameを用いたデータ分析

In [81]:
import numpy as np
import pandas as pd

np.random.seed(0)

columns = ['apple', 'orange', 'banana', 'strawberry', 'kiwifruit']

df = pd.DataFrame()

for column in columns:
    df[column] = np.random.choice(range(1, 11), 10)

df.index = range(1, 11)

print(df.head())
print()

print(df.tail())

   apple  orange  banana  strawberry  kiwifruit
1      6       8       6           3         10
2      1       7      10           4         10
3      4       9       9           9          1
4      4       9      10           2          5
5      8       2       5           4          8

    apple  orange  banana  strawberry  kiwifruit
6      10       7       4           4          4
7       4       8       1           4          3
8       6       8       4           8          8
9       3       9       6           1          3
10      5       2       1           2          1

### 9.4.2 計算処理を適用する

In [82]:
import numpy as np
import pandas as pd
import math

np.random.seed(0)

columns = ['apple', 'orange', 'banana', 'strawberry', 'kiwifruit']

df = pd.DataFrame()

for column in columns:
    df[column] = np.random.choice(range(1, 11), 10)
    
df.index = range(1, 11)

print(df)
print()

double_df = df * 2

print(double_df)
print()

square_df = df ** 2

print(square_df)
print()

square_df = df ** 0.5

print(square_df)
print()

    apple  orange  banana  strawberry  kiwifruit
1       6       8       6           3         10
2       1       7      10           4         10
3       4       9       9           9          1
4       4       9      10           2          5
5       8       2       5           4          8
6      10       7       4           4          4
7       4       8       1           4          3
8       6       8       4           8          8
9       3       9       6           1          3
10      5       2       1           2          1

    apple  orange  banana  strawberry  kiwifruit
1      12      16      12           6         20
2       2      14      20           8         20
3       8      18      18          18          2
4       8      18      20           4         10
5      16       4      10           8         16
6      20      14       8           8          8
7       8      16       2           8          6
8      12      16       8          16         16
9       6      18      12           2          6
10     10       4       2           4          2

    apple  orange  banana  strawberry  kiwifruit
1      36      64      36           9        100
2       1      49     100          16        100
3      16      81      81          81          1
4      16      81     100           4         25
5      64       4      25          16         64
6     100      49      16          16         16
7      16      64       1          16          9
8      36      64      16          64         64
9       9      81      36           1          9
10     25       4       1           4          1

       apple    orange    banana  strawberry  kiwifruit
1   2.449490  2.828427  2.449490    1.732051   3.162278
2   1.000000  2.645751  3.162278    2.000000   3.162278
3   2.000000  3.000000  3.000000    3.000000   1.000000
4   2.000000  3.000000  3.162278    1.414214   2.236068
5   2.828427  1.414214  2.236068    2.000000   2.828427
6   3.162278  2.645751  2.000000    2.000000   2.000000
7   2.000000  2.828427  1.000000    2.000000   1.732051
8   2.449490  2.828427  2.000000    2.828427   2.828427
9   1.732051  3.000000  2.449490    1.000000   1.732051
10  2.236068  1.414214  1.000000    1.414214   1.000000

### 9.4.3 要約統計量を得る

In [83]:
import numpy as np
import pandas as pd

np.random.seed(0)

columns = ['apple', 'orange', 'banana', 'strawberry', 'kiwifruit']

df = pd.DataFrame()

for column in columns:
    df[column] = np.random.choice(range(1, 100), 10000)
    
df.index = range(1, 10001)

df_des = df.describe()

print(df_des)

              apple        orange        banana    strawberry     kiwifruit
count  10000.000000  10000.000000  10000.000000  10000.000000  10000.000000
mean      49.613500     50.401700     49.746500     50.302700     50.008100
std       28.533768     28.464539     28.481126     28.423182     28.424272
min        1.000000      1.000000      1.000000      1.000000      1.000000
25%       25.000000     26.000000     25.000000     26.000000     25.000000
50%       49.000000     51.000000     50.000000     50.500000     50.000000
75%       74.000000     75.000000     74.000000     75.000000     74.000000
max       99.000000     99.000000     99.000000     99.000000     99.000000

### 9.4.4 DataFrameの行間 / 列間の差を求める

In [84]:
# 時系列分析に使用する

import numpy as np
import pandas as pd

np.random.seed(0)

columns = ['apple', 'orange', 'banana', 'strawberry', 'kiwifruit']

df = pd.DataFrame()

for column in columns:
    df[column] = np.random.choice(range(1, 11), 10)
    
df.index = range(1, 11)

df_diff = df.diff(-2, axis=0)

print(df)
print()
print(df_diff)

    apple  orange  banana  strawberry  kiwifruit
1       6       8       6           3         10
2       1       7      10           4         10
3       4       9       9           9          1
4       4       9      10           2          5
5       8       2       5           4          8
6      10       7       4           4          4
7       4       8       1           4          3
8       6       8       4           8          8
9       3       9       6           1          3
10      5       2       1           2          1

    apple  orange  banana  strawberry  kiwifruit
1     2.0    -1.0    -3.0        -6.0        9.0
2    -3.0    -2.0     0.0         2.0        5.0
3    -4.0     7.0     4.0         5.0       -7.0
4    -6.0     2.0     6.0        -2.0        1.0
5     4.0    -6.0     4.0         0.0        5.0
6     4.0    -1.0     0.0        -4.0       -4.0
7     1.0    -1.0    -5.0         3.0        0.0
8     1.0     6.0     3.0         6.0        7.0
9     NaN     NaN     NaN         NaN        NaN
10    NaN     NaN     NaN         NaN        NaN

### 9.4.5 グループ化

In [85]:
import pandas as pd

prefecture_df = pd.DataFrame(
    [
        ['Tokyo', 2190, 13636, 'Kanto'],
        ['Kanagawa', 2415, 9145, 'Kanto'],
        ['Osaka', 1904, 8837, 'Kinki'],
        ['Kyoto', 4610, 2605, 'Kinki'],
        ['Aichi', 5172, 7505, 'Chubu'],
    ],
    columns=[
        'Prefecture',
        'Area',
        'Population',
        'Region',
    ]
)

print(prefecture_df)
print()

grouped_region = prefecture_df.groupby('Region')

print(grouped_region.mean())
print()

  Prefecture  Area  Population Region
0      Tokyo  2190       13636  Kanto
1   Kanagawa  2415        9145  Kanto
2      Osaka  1904        8837  Kinki
3      Kyoto  4610        2605  Kinki
4      Aichi  5172        7505  Chubu

          Area  Population
Region
Chubu   5172.0      7505.0
Kanto   2302.5     11390.5
Kinki   3257.0      5721.0

/var/folders/4t/3fc4ys414zj13301xv2kg7_00000gn/T/ipykernel_18824/1079302057.py:24: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(grouped_region.mean())

## 添削問題

In [86]:
import pandas as pd

df1 = pd.DataFrame(
    [
        ['apple', 'Fruit', 120],
        ['orange', 'Fruit', 60],
        ['banana', 'Fruit', 100],
        ['pumpkin', 'Vegetable', 150],
        ['potato', 'Vegetable', 80],
    ],
    columns=['Name', 'Type', 'Price',]
)

print(df1)
print()

df2 = pd.DataFrame(
    [
        ['onion', 'Vegetable', 60],
        ['carrot', 'Vegetable', 50],
        ['beans', 'Vegetable', 100],
        ['grape', 'Fruit', 160],
        ['kiwifruit', 'Fruit', 80],
    ],
    columns=['Name', 'Type', 'Price',]
)

print(df2)
print()

# df1 join df2
joined_df = pd.concat([df1, df2], axis=0)

print(joined_df)
print()

sorted_fruit_df = joined_df.loc[joined_df['Type'] == 'Fruit'].sort_values(by=['Price'])

print(sorted_fruit_df[:3])
print()

sorted_vegetable_df = joined_df.loc[joined_df['Type'] == 'Vegetable'].sort_values(by=['Price'])

print(sorted_vegetable_df[:3])
print()

print(sum(sorted_fruit_df[:3]['Price']) + sum(sorted_vegetable_df[:3]['Price']))

      Name       Type  Price
0    apple      Fruit    120
1   orange      Fruit     60
2   banana      Fruit    100
3  pumpkin  Vegetable    150
4   potato  Vegetable     80

        Name       Type  Price
0      onion  Vegetable     60
1     carrot  Vegetable     50
2      beans  Vegetable    100
3      grape      Fruit    160
4  kiwifruit      Fruit     80

        Name       Type  Price
0      apple      Fruit    120
1     orange      Fruit     60
2     banana      Fruit    100
3    pumpkin  Vegetable    150
4     potato  Vegetable     80
0      onion  Vegetable     60
1     carrot  Vegetable     50
2      beans  Vegetable    100
3      grape      Fruit    160
4  kiwifruit      Fruit     80

        Name   Type  Price
1     orange  Fruit     60
4  kiwifruit  Fruit     80
2     banana  Fruit    100

     Name       Type  Price
1  carrot  Vegetable     50
0   onion  Vegetable     60
4  potato  Vegetable     80

430

## 総合添削問題

In [87]:
import pandas as pd

index = ['taro', 'mike', 'kana', 'jun', 'sachi']

columns = ['国語', '数学', '社会', '理科', '英語']

data = [
    [30, 45, 12, 45, 87],
    [65, 47, 83, 17, 58],
    [64, 63, 86, 57, 46],
    [38, 47, 62, 91, 63],
    [65, 36, 85, 94, 36],
]

df = pd.DataFrame(data, index=index, columns=columns)

print(df)
print()

pe_column = pd.Series([56, 43, 73, 82, 62], index=index)

df['体育'] = pe_column

print(df)
print()

df1 = df.sort_values(by=['数学'])

print(df1)
print()

df2 = df + 5

print(df2)
print()

df_des = df.describe()

print(df_des.loc[['mean', 'max', 'min']])
print()

       国語  数学  社会  理科  英語
taro   30  45  12  45  87
mike   65  47  83  17  58
kana   64  63  86  57  46
jun    38  47  62  91  63
sachi  65  36  85  94  36

       国語  数学  社会  理科  英語  体育
taro   30  45  12  45  87  56
mike   65  47  83  17  58  43
kana   64  63  86  57  46  73
jun    38  47  62  91  63  82
sachi  65  36  85  94  36  62

       国語  数学  社会  理科  英語  体育
sachi  65  36  85  94  36  62
taro   30  45  12  45  87  56
mike   65  47  83  17  58  43
jun    38  47  62  91  63  82
kana   64  63  86  57  46  73

       国語  数学  社会  理科  英語  体育
taro   35  50  17  50  92  61
mike   70  52  88  22  63  48
kana   69  68  91  62  51  78
jun    43  52  67  96  68  87
sachi  70  41  90  99  41  67

        国語    数学    社会    理科    英語    体育
mean  52.4  47.6  65.6  60.8  58.0  63.2
max   65.0  63.0  86.0  94.0  87.0  82.0
min   30.0  36.0  12.0  17.0  36.0  43.0